#game-wrap #game-cont #results-view #congrats-bg #congrats-wrap #congrats {
 width: 407px;
}
#game-wrap #game-cont #results-view #congrats-bg #congrats-wrap #congrats .controls #final-continue {
 background-color: #f7941d;
}
#game-wrap #game-cont #results-view #congrats-bg #congrats-wrap #congrats .controls #final-continue:hover
{
 background-color: #f7951dcc
}

#game-wrap #game-cont #results-view #congrats-bg #congrats-wrap #congrats .controls #final-share-fb {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #f7941d;
   
  color: #f7941d;
  height: 50px;
  width: 374px;
  line-height: 50px;
  text-align: center;
  top: 60px;
  transition: background-color .5s ease;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


#game-wrap #game-cont #results-view #congrats-bg #congrats-wrap #congrats .controls #final-share-fb::before {
  content: "f";
  font-family: Arial, sans-serif;
  font-weight: bold;

  position: absolute;
  left: 0px;
  top: 0;
  right:1px;
  width: 50px;
  height: 100%;

  background-color: #f7941d;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
}



#game-wrap #game-cont #results-view #congrats-bg #congrats-wrap #congrats .controls #final-share-fb:hover {
   background-color: #fafafa;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.5)
   
}
#game-wrap #game-cont #stretch-box #main-menu-view #mm-line-center .column-left{
  top: 20px;
}